body {
    margin: 0;
}

button {
    display: block;
}

div {
    background: var(--background--color);
}

#my-node-mask {
    width: 350px;
    height: 89px;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask: url(./logo.svg);
    background: black;
}

#my-node {
    display: inline-block;
}

#my-node-2 {
    display: inline-block;
}

.my-node {
    display: inline-block;
}

svg {
    width: 50px;
    height: 50px;
}